header{    
    justify-content:space-between;
    flex-wrap: wrap;
    background-color:brown;
    background-image: url(../../assets/Pictures/Owl-Background.jpg);
    object-fit: cover;
}
header h1 {    
    text-align:center;
    font-weight:bold;
    font-size: 36px;
    margin:0;
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
    background-color: black;
    color: white;
    flex-wrap:wrap;
}
header nav ul{
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin: 1px;
    padding: 1px;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    align-items: center;    
    height:15px;    
    text-decoration:none;
}
li {
    text-decoration: none;
}
header nav ul{
    text-decoration: none;
}
header nav ul li {
    text-decoration:none;    
    padding: 10px;
}
header nav a {
    display:flex;
    text-align: center;
    flex-wrap:wrap;
    color: whitesmoke;
    flex-direction: row-reverse;
    font-size:25px;
    justify-content: space-evenly;
    overflow: auto;
    text-decoration: none;
    align-self:auto;
    padding: 5px;
}
header nav a:hover{
    background-color:black;
    color:white;
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius:15px;
    padding: 5px;
    text-decoration: none;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position:relative;     
    }
    header h1 {
        width:100%;
        text-align:center;
    }
    header nav ul {
        margin-top:20px;
        width:100%;
        justify-content:center;        
    }
    header nav ul li a {
        font-size:20px;
    }
    footer h2, footer div{
        text-align:center;
        width:100%;
    }    
    .section-title{
        width:80%;    
    } 
  }  
  /* MEDIA QUERY FOR TABLETS AND SMALLER */
  @media screen and (max-width: 768px) { 
    section{
        padding: 30px 15px;
    }
    .about {
        font-size:small;
        width: 60vw;
        margin-right: 100px;
    }
    
  }  
    /*Utilities*/
    .text-left{
        text-align:left;
    }
    .text-right{
        text-align:right;
    }
    .flex-row{
        display:flex;
    }
    a:link { 
        text-decoration: none; 
    }
    a:visited { 
        text-decoration: none; 
    }
    a:hover { 
        text-decoration: none; 
    }
    a:active { 
        text-decoration: none; 
    }
  /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
  @media screen and (max-width: 575px) {      
    .section-title {
          width:95%;          
    }  
    .about {
        margin:86px;
        margin-top:165px;
    }    
  }